<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Compiled and minified JavaScript -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
   rel="stylesheet">
<script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>


<div id="top">
    <div class="center">
       <div class="zz">
          <a [routerLink]=""  (click)="btnClick('/connexion')"><b class="btn btn-danger btn-block">CONNEXION</b></a>
          <div class="or-seperator"><i>OU</i></div>
          <div id="Google">
             <a href="#" onclick="return false;" class="btn btn-danger btn-block"><i class="fa fa-google"></i> avec <b>Google</b></a>
          </div>
       </div>
    </div>
 </div>

 
 <div id="bottom">
    <div class="center">
        <div class="zz">
           <a [routerLink]=""  (click)="btnClick('/registration')"><b class="btn btn-danger btn-block">INSCRIPTION</b></a>
           <div class="or-seperator1"><i>OU</i></div>
           <div id="Google">
              <a href="#" onclick="return false;" class="btn btn-danger btn-block"><i class="fa fa-google"></i> avec <b>Google</b></a>
           </div>
        </div>
     </div>
 </div>